{% extends "base.html" %}
{% block content %}
<h2>Edit Product</h2>

<form method="post" class="border p-4 bg-white rounded shadow-sm">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="{{ product.name }}" required>
    </div>

    <div class="mb-3">
        <label>Sale Price</label>
        <input type="number" name="price" step="0.01" class="form-control" value="{{ product.price }}" required>
    </div>

    <div class="mb-3">
        <label>Purchase Price</label>
        <input type="number" name="purchase_price" step="0.01" class="form-control" value="{{ product.purchase_price }}" required>
    </div>

    <div class="mb-3">
        <label>Company</label>
        <input type="text" name="company" class="form-control" value="{{ product.company }}" required>
    </div>

    <div class="mb-3">
        <label>Image URL</label>
        <input type="text" name="image_url" class="form-control" value="{{ product.image_url }}" required>
    </div>

    <button type="submit" class="btn btn-success">Update Product</button>
</form>
{% endblock %}